.filter {
  width: 30%;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 30px;
}
.filter-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #b9bdcf;
  border-radius: 2px;
}
.filter-checkbox-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-left: 12px;
}
.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;

  color: #b9bdcf;
}
.form-input-container {
  margin-top: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.form-input-icon {
  margin-right: -25px;
  z-index: 5;
  color: #b9bdcf;
}

.form-input {
  border-radius: 4px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  width: 90%;
  height: 48px;
  padding-left: 25px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
}
.radio-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.radio-button-container .label {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 12.5px;
}
.radio-button-container input {
  width: 18px;
  height: 18px;
}
