body {
  background-color: rgb(243, 240, 240);
}
.App-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #334680;
}
